* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
}

h1 {
    padding: 50px;
    text-align: center;
}

h2 {
    margin: 20px 0;
    text-align: center;
}

.wrapper {
    position: relative;
    width: 1024px;
    margin: auto;
}

.stretch {
    width: 100%;
    height: auto;
}

.main-info {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    box-sizing: border-box;
    border: 1px solid black;
}

.main-info-details {
    width: 40%;
    height: auto;
    text-align: center;
}

.main-info-details-contacts {
    padding: 20px;
}

img {
    width: 150px;
    height: 200px;
}

.main-info-text {
    position: relative;
    width: 60%;

    border-left: 1px solid lightsteelblue;
}

.main-info-text-summary {
    position: absolute;
    top: 25%;
    left: 12%;

    width: 80%;
    margin: auto;

    font-size: 18px;
    text-align: center;
    align-content: center;
}

.main-details-block {
    width: 100%;
    height: auto;
}

table, td {
    border-collapse: collapse;
    border: 1px solid black;;
    margin-top: 55px;
}

td {
    height: 20px;
}

.table-row {
    width: 250px;
}

.head {
    font-weight: bold;

}

.head2 {
    padding: 15px 40%;
    font-weight: bold;
}

